@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    color: azure;
}

body{
    height: 100vh;
    background-color: #1F1F29;
}

.hidden{
    display: none;
}

/* styles for container */

.container{
    height: 100%;
    width: 100%;
}

/* styles for color sections */

.section{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section:first-child{
    margin-top: 2%;
}

.section:last-child{
    margin-bottom: 5%;
}

.section-title{
    margin-bottom: 2%;
    font-size: 30px;
    font-weight: 500;
}

.card-holder{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.color-card{
    height: 250px;
    width: 180px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-name{
    color: #000;
    text-align: center;
}

.hex-code{
    color: #000;
    text-align: center;
}

.copy-btn{
    cursor: pointer;
    margin-top: 9%;
    padding: 1% 3% 1% 3%;
    border: none;
    border-radius: 15px;
    color: #000;
}